<%= stylesheet_link_tag 'header.css' %>
<div class="navbar-container">
  <%= link_to "Gaming Through Physics", root_path, id: 'home' %>
  <%= link_to "Games", home_games_path %>
  <%= link_to "Login", home_login_path %>
</div>