<div class="body-container">
  <h1 class="main-title">Projectile Motion</h1>
  <div class="content-container">
      <p class="projectile", id="learn-1"><%= image_tag('shooting-basketball.jpg', id: 'shooting-basketball')  %>
        This paragraph will be an introduction into 2 dimensional projectile motion
      and how to understand its laws and stuff. Here is another sentence</p>
  </div>
</div>
