<div class="body-container">
  <h1 class="main-title">Friction</h1>
  <div class="content-container">
    <p class="friction"><%= image_tag('ice.jpg', id: 'ice') %>
      This paragraph will be an introduction to friction
      and how to understand its laws and stuff. Here is another sentence</p>
  </div>
</div>