<div class="body-container">
<h1 id='welcome-message'>Welcome to Gaming Through Physics</h1>


<div id="synopsis-container">
  <span>
   <%= image_tag('physics-paper.jpg', id: 'physics-paper')%>
   <h3 id='brief-synopsis'>Gaming Through Physics makes learning physics fun! </h3>
  </span>
</div>
  <% if @user %>
    Welcome <%= @user.username %>
  <% end %>

  <%= button_to "Logout", logout_path, method: :delete %>

</div>