<%= stylesheet_link_tag 'games' %>

<div class="body-container">

  <h1>A Basketball game</h1>

  <div class="game-container">
    <canvas id="bb-game-canvas" width="1200px" height="675px"></canvas>
    <%= javascript_pack_tag 'bb_canvas.js' %>
  </div>

</div>