// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

body {
  background: $isabelline;
}

* {
  margin: 0px;
}

#welcome {
  color: $gunmetal;
  text-align: center;
  font-family: 'Public Sans', Arial, sans-serif;
}